<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Ratings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <a href="#"><img src="static/logo.png" alt="My logo"></a>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="#">XXXXXXX</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <footer>
      <div class="copyright">
        <p>Designed by Jan Adamiak, Copyright &copy; 2020</p>
      </div>
      <div class="credit">
        <p>Created my free logo at <a href="https://logomakr.com/" target="_blank">LogoMakr.com</a></p>
      </div>
    </footer>
  </body>
</html>
